$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.5;

// The below is just a way of defining a function we can use for multiple tags
// The below makes a transition phasing in with a time of 0.5 seconds
@mixin easeOut {
  transition: all 0.5s ease-out;
}

// The below is a function for our background image
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      // We add an overlay to the image to handle the readability of the headings
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Set text color FUNCTION
@function set-text-color($color) {
  // If the lightness of our color variable is less than 40 we return black
  @if (lightness($color) > 40) {
    @return #000;
    // Otherwise, we return white
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
// The mixins below are for the different sizes of the devices that will access the website
// Directly below is the mixin (method) for small screens
@mixin mediaSm {
  // Any css we put below will ONLY apply to screens that are at a max width of 500 pixels
  @media screen and (max-width: 500px) {
    // We add @content to be able to use this mixin anywhere else in our code
    // We will not be adding the css in this file (hence the @content to add it somewhere else)
    @content;
  }
}

// Medium screens
@mixin mediaMd {
  // Max width of 768 pixels
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Large screens
@mixin mediaLg {
  // Min width of 769 pixels and max width of 1170 pixels
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

// Extra Large screens
@mixin mediaXl {
  // Min width of 1171 pixels
  @media screen and (min-width: 1171px) {
    @content;
  }
}
