// Widescreens styling
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    // The bellow aligns everything to the center
    align-items: center;
    text-align: center;
    // The below remove smace between the heading text
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  // The below is for our two columns when the overlay is active
  ul.menu-nav,
  div.menu-branding {
    // The overlay is no longer floated and takes up 100% of the screen
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      // On show, both nav and branding will be in full view
      transform: translate3d(0, 0, 0);
    }
  }

  // The below is styling for just the nav
  .menu-nav {
    // Our nav will take up 75 viewport heights (there for making branding take up 25)
    height: 75vh;
    // Now we will transition in from the left
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  // The below is styling for just the branding
  .menu-branding {
    height: 25vh;
    // Transition from the right
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../img/portrait.jpg);
      width: 150px;
      height: 150px;
      // Position my picture to the center
      background-position: center;
      // There will be no repeated images to fill the div
      background-repeat: no-repeat;
      // Size of the image will be 100%
      background-size: 100%;
    }
  }

  // Styling for the about page
  .about-info {
    // Now we want to stack our grid items on top of wach other
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    // Now every column will have 1 grid item
    grid-template-columns: 1fr;

    .bio-image {
      width: 75%;
      max-height: 75%;
      // Position my picture to the center
      background-position: center;
      // There will be no repeated images to fill the div
      background-repeat: no-repeat;
      // Size of the image will be 100%
      background-size: 100%;
    }
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    // Makes sure that even if the screen is shorter the heading is still 10 viewport heights
    margin-top: 10vh;
  }
}
