// Below, we import the config file variables and mixins to use in our main scss file
@import "config";
@import "menu";

// The below styles everything
// Makes sure that if there is padding, the height and the width do not get affected
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

// Links colors are all white with no underline
a {
  color: #fff;
  text-decoration: none;
}

// The header will always stay up top and closest towards user
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

// This gives my last name a color of yellow
.text-secondary {
  color: $secondary-color;
}

// The below is for everything inside the main tags
main {
  padding: 4rem;
  height: 100%;

  // The icons will have a margin and display in a line
  .icons {
    display: inline;
    margin-top: 1rem;

    // Each icon will have padding
    a {
      padding: 0.4rem;

      // The secondary color will phase in with a time of 0.5 seconds when the mouse hovers over top of them
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  // The headings will not have a scroll bar,
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
